### Анализ Данных

In [44]:
import pandas as pd
import numpy as np
import requests

In [45]:
Visits = requests.get("https://data-charts-api.hexlet.app/visits?begin=2023-03-01&end=2023-09-01")
regs = requests.get("https://data-charts-api.hexlet.app/registrations?begin=2023-03-01&end=2023-09-01")

In [ ]:
Visits = pd.DataFrame(Visits.json())
regs = pd.DataFrame(regs.json())

In [55]:
Visits.describe()

,visit_id,platform,user_agent,datetime
count,263459,263459,263459,263459
unique,146085,4,32,261204
top,7dae7955-d356-42e7-bf45-bddb0c887357,web,Mozilla/5.0 (X11; Ubuntu; Linux x86_64; rv:109...,2023-03-04T00:38:39
freq,4,236301,13623,3

In [56]:
regs.describe()

,datetime,user_id,email,platform,registration_type
count,21836,21836,21836,21836,21836
unique,21821,21836,20868,3,4
top,2023-04-24T18:29:09,2e0f6bb8-b029-4f45-a786-2b53990d37f1,ujones@example.com,android,email
freq,2,1,6,10582,8996